.tabcomponent-container {
    margin: 0 auto;
    border-radius: 14px;
    padding: 10px;
    background-color: #deffde;
    background-color: rgb(222, 255, 222, 0.5);
    /* width: 800px; */
    /* height: 600px; */
    max-width: 800px;
}
