.custom-input-con-parent-div {
    margin: 10px 0;
}

.custom-input-con-parent-div .warning-msg {
    color: red;
    font-size: 12px;
    padding-left: 14px;
}

.custom-input-con {
    position: relative;
    /* display: inline-block; */
    /* margin: 11px 0; */
}

.custom-input-con .ci-input {
    position: relative;
    z-index: 1;
    font-size: 1rem;
    color: rgb(36, 36, 36);
    padding: 10px;
    padding-left: 14px;
    border: 0;
    outline: 0;
    border: 1px solid rgb(196, 196, 196);
    border: 0;
    border-radius: 5px;
    /* margin: 5px; */
    margin: 0;
    /* width: 219px; */
    width: 100%;
    height: 43px;
    background-color: transparent !important;
    background-clip: content-box;
}


 .ci-label {
    position: absolute;
    top: 10px;
    left: 14px;
    font-size: 16px;
    transition: all 0.2s ease;
}

 .ci-fieldset {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    border: 1px solid rgb(196, 196, 196);
}

.custom-input-con .ci-fieldset .ci-legend {
    visibility: hidden;
    /* width: 0;
    height: 0;
    padding: 0; */
    width: 0;
    height: 0;
    padding: 0;
}

.custom-input-con.focused .ci-legend {
    /* visibility: visible; */
    width: auto;
    height: auto;
    padding: 0 2px;
    font-size: 14px;
}

.custom-input-con.hovered .ci-fieldset {
    border: 1px solid rgb(34, 34, 34);
}

.custom-input-con.focused .ci-fieldset{
    top: -12px;
    border: 2px solid rgb(48, 120, 255);
}

.custom-input-con.focused .ci-label {
    top: -12px;
    left: 14px;
    font-size: 14px;
}

.custom-input-con.value-present .ci-label {
    top: -12px;
    left: 13px;
    font-size: 14px;
}

.custom-input-con.value-present .ci-fieldset {
    top: -12px;
}

.custom-input-con.value-present .ci-legend {
    /* visibility: visible; */
    width: auto;
    height: auto;
    padding: 0 2px;
    font-size: 14px;
}

.custom-input-con.TA {
    padding: 5px 0;
}

.custom-input-con.TA textarea {
    padding: 5px;
    padding-left: 14px;
    padding-right: 10px;
    resize: vertical;
}

.custom-input-con.TA textarea::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.custom-input-con.TA textarea::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.custom-input-con.TA textarea::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #686868;
    cursor: context-menu;
}